/* Tooltip.css */
.hover{
  position: relative;
    width: 47px;
    left: 49%;
    margin-top: 21%;
}
/* div tag class in app.js */
.BTN{
  position: absolute;
    left: 40%;
    top: 10%;

}
.heading{
  text-align: center;
  font-size: 20px;
  color: red;
  
}
/* btn--hover class in app.js */
.btn-hover {
  margin: 10px;
  border: 2px solid black;
}
/* style the hover button in hover.js*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  top: 50%;
  position: absolute;
}
/* FOR ALL THE BUTTON */
button {
  border: none;
  height: 43px;
  width: 88px;
  text-align: center;
}
